{% extends "main/base.html" %}

{% block content %}

<h1 class="menu-title">
    {{ title }}
</h1>

<div class="dish-container">

    {% for dish in dishes %}
    <a href="{% url 'dish_detail' dish.id %}">
        <div class="dish-card">
            <div class="dish-image">

                {% if dish.image %}
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
                {% else %}
                🍕
                {% endif %}

            </div>
            <h2>{{ dish.name }}</h2>

            <p class="price">
                {{ dish.price }} грн
            </p>

            <button>
                Замовити
            </button>
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}